<nav class="navbar navbar-expand-lg navbar-light font-weight-bold" style="background-image: url('../images/topo.png');">
    <div class="container">
        <a class="navbar-brand" href="#">Elisons Backpacking Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <form class="form-inline">
				<input class="form-control" type="text" placeholder="Articles" aria-label="Articles">
            </form>
        </div>
    </div>
</nav>